{% extends "projects/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <h3>Project Information</h3>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <!-- basic information for a project -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 shade-container">
                    <div class="container">
                        <h4>Basic Information</h4>
                        <label>Project name:</label>
                        <p>{{ project.name }}</p>

                        <label>Project owner:</label>
                        <p>{{ project.user }}</p>

                        <label>Project description:</label>
                        <p>{{ project.description }}</p>                       
                    </div>
                </div>

                <!-- comment of a project -->
                <div class="col-lg-7 col-md-7 col-md-offset-1 col-sm-12 col-xs-12">


<!-- <div class="container"> -->
    <div class="row">
        <div class="panel panel-default widget shade-container">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Comments</h3>
                <span class="label label-info">
                    78</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-8 col-md-6">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Google Style Login Page Design Using Bootstrap</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Awesome design
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>                                
                                </div>                                
                            </div>   
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-7">
                                <div>
                                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">Admin Panel Quick Shortcuts</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
            </div>
        </div>
    </div>
<!-- </div> -->





                    <h4>Comments:</h4>
                    {% for comment in comments %}
                    <br>
                        <!-- Show only non-deleted comments -->
                        {% if not comment.is_deleted %}
                        {{ comment }}
                        Created by {{ comment.user }} {{ comment.create_time }}
                        {% endif %} 
                    {% endfor %}
                </div>

                User: {{ user }}
                <br>
                <br>

        </div>
    </div>
{% endblock %}