{% extends "projects/base.html" %}
{% load staticfiles %}
        <!-- four cards for users --> 
        {% block content %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                               
                <div class="panel panel-default shade-container">
                    <div class="panel-heading">
                        <!-- title -->
                        <h3 class="panel-title">My Dashboard</h3>
                    </div>

                    <div class="panel-body">
                        <!-- project -->
                        <div class="row">
                             <div class="col-xs-6 col-md-6">
                                <a href="{{ BASE_URL }} 'projects/plist/'" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-tasks"></span> <br/>Project 
                                <br/>I have 2 projects.</a>
                            </div>

                            <!-- dataset -->
                            <div class="col-xs-6 col-md-6">
                                <a href="{% static 'dataset/index/' %}" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-cog"></span> <br/>Dataset
                                <br/>I can access 1 datasets.</a>
                            </div>                           
                        </div>

                        <div class="row">
                             <!-- visualizations -->
                            <div class="col-xs-6 col-md-6">
                                <a href="{% static 'dataviz/index/'%}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-eye-open"></span> <br/>Visualization
                                <br/>TO-DO</a>
                            </div>

                            <!-- user profile -->
                            <div class="col-xs-6 col-md-6">
                                <a href="{% static 'login/profile/'%}" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Profile
                                <br/>TO-DO</a>
                            </div>               
                        </div>

                    </div>
                </div>
            </div>
        </div>        
{% endblock %}