{% extends "projects/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default widget shade-container">
			<div class="panel-heading">
                <span class="glyphicon glyphicon-paperclip"></span>
                <h3 class="panel-title">Hit Request</h3>
            </div>

            <div class="panel-body">
				<div>
					<label>Task Title:</label><br />
					<input type="text" id="myturk_task_title">
				</div>

                <div>
                	<label>Task Description:</label><br />
                	<textarea name="tast_description" placeholder="Task Description" rows="3" style="margin-bottom:10px;" id="myturk_task_description"></textarea> 
                </div>

<!--                 <div>
                	<label>Select Project:</label><br />                
                    <select id="hit_project_selection" class="selectpicker" data-live-search="true" data-width="80%" required>
						{% for item in project %}
                            <option value = "{{project.id}}">{{ project.name }}</option>
						{% endfor %}
                    </select>
                </div> -->

                <div>
                	<!-- dataset selection -->
                    <label>Select Dataset:</label><br />
                    <select id="project_dataset" class="selectpicker" data-live-search="true" data-width="80%" required>
						{% for dataset in datasets %}
                            <option value = "{{dataset.id}}">{{ dataset.name }}</option>
						{% endfor %}
                    </select>
                </div>
                    
                <!-- data view -->
                <div>
                    <fieldset class="field-border">
                        <!-- <legend class="field-border">Data View</legend> -->
                        <div id="main_table_view">             
                            <table id="myturk_doc_list" class="display">
                                <!-- TO DO: dynamically generate table head -->
                                <thead>
                                    <tr>
                                        <th>Doc ID</th>
                                        <th>Doc Text</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </fieldset>
                </div>
				
				<div>
	                <input id="csrf_token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				</div>

                <div>
                	<label>AWSAccessKeyId:</label><br />
                	<input type="text" id="myturk_accesskeyid">
                </div>

                <div>
                	<label>AWSSecretKey:</label><br />
                	<input type="text" id="myturk_secretkey">
                </div>
                
                <div>
                	<button class="btn btn-primay" type="button" id="btn_submit_turk">submit</button>
                </div>
            </div>
		</div>
		
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default widget shade-container">
			<div class="panel-heading">
                <span class="glyphicon glyphicon-paperclip"></span>
                <h3 class="panel-title">Hit Result</h3>
            </div>

            <div class="panel-body">
            </div>
		</div>		
	</div>	
</div>
<script type="text/javascript" src="{% static 'common/js/lib/jquery.dataTables.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'myturk/js/turk.js' %}"></script>
{% endblock %}